<!DOCTYPE html>
<html lang="en">

<head>
  <title>Post List</title>
</head>

<body>
  <header>
    <h1>
      <a href="/">Krishna Blog</a>
    </h1>
  </header>

  <article>
    <time>published: 14.06.2014, 12:44</time>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa quis corporis sed, vel at nesciunt dicta ratione
      aut? Laudantium culpa non esse consequatur recusandae tempora optio suscipit, doloremque perspiciatis voluptas.
    </p>
    <h2><a href="">My first post</a></h2>
  </article>

  <article>
    <time>published: 14.06.2014, 12:14</time>
    <h2>
      <a href="">My second post</a>
    </h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas, quidem laborum ducimus magni maiores, accusamus,
      quo eveniet ipsa quae repellendus ipsum dicta totam aspernatur excepturi voluptatibus soluta mollitia fugiat amet.
    </p>
  </article>

</body>

</html>
